<app-nav-bar></app-nav-bar>

<!-- <div *ngFor="let job of jobs">
    <a href="#applicants" class="uk-link-heading">
        <p><b>Applicants: </b>{{job.position}}</p>
     </a>
</div> -->

<div id="ngoProfile">

    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline" data-src="https://static1.squarespace.com/static/53b4d49de4b00894c69c7a0c/t/53f55bdde4b0a95765d3ec7f/1408588765988/Mint+Watercolor+Wallpaper_Pixejoo.jpg" uk-img>
        <span class="uk-position-left uk-position-medium uk-text-lead uk-text-bold" >
            <img class="uk-border-circle uk-position-medium" src="{{ong.photoURL}}" width="150" height="150">
            {{ong.name}}
        </span>
        <div>
            <a class="uk-position-bottom-right uk-position-medium" href="#" uk-icon="icon: pencil"></a>
        </div>
        <!-- <div>
            <button class="uk-button uk-button-danger uk-position-bottom-right uk-position-large" type="button" (click)="follow()">Follow</button>
        </div> -->
    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-medium">
            <div class="uk-child-width-expand@s uk-text-center" uk-grid>

                <div>
                    <div uk-filter="target: .js-filter">
                        <ul class="uk-subnav uk-subnav-pill">
                            <li uk-filter-control="[data-color='white']"><a href="#">Events</a></li>
                            <li uk-filter-control="[data-color='black']"><a href="#">Volunteering</a></li>
                            <li><a class="uk-button" href="#add" uk-icon="icon: plus" uk-toggle></a></li>
                        </ul>
                            
                        <ul class="js-filter uk-child-width-1-2 uk-child-width-1-2@m uk-text-center" uk-grid>
                            <li data-color="white">
                                <div *ngFor="let event of events">
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-header event">
                                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <a href="/event/{{event._id}}">
                                                        <img class="uk-border-circle" width="40" height="40" src="{{event.photo}}">
                                                    </a>
                                                </div>
                                                <div class="uk-width-expand">
                                                    
                                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                                        <a href="/event/{{event._id}}" class="uk-link-heading" style="color:white">
                                                        {{event.title}}
                                                        </a>
                                                    </h3>
                                                    <p class="uk-text-meta uk-margin-remove-top" style="color: white">ONG</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-card-body">
                                            
                                            <p><b>Date: </b></p>
                                            <p>{{event.summary}}</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>                            
                            </li>
                            <li data-color="black">
                                <div *ngFor="let job of jobs">
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-header job">
                                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                                <div class="uk-width-expand">
                                                    
                                                    <h3 class="uk-card-title uk-margin-remove-bottom">
                                                        <a href="/job/{{job._id}}" class="uk-link-heading">
                                                            Position: {{job.position}}
                                                        </a>
                                                    </h3>
                                                    <p class="uk-text-meta uk-margin-remove-top">ONG</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-card-body">
                                            
                                            <p><b>Weekly required hours: </b>{{job.weeklyRequiredHours}}</p>
                                            <p>Description: {{job.description}}</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header ong">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom" style="color:white">
                                        {{ong.name}}
                                    </h3>
                                            
                                    <p class="uk-text-meta uk-margin-remove-top">{{ong.causes}}</p>
                                </div>
                            </div>
                            </div>
                        <div class="uk-card-body">
                        <p>{{ong.summary}}</p>
                        <br>
                        
                        <p><b>Location: </b>{{ong.location}}</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>




    <div id="add" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">New</h2>
            </div>

            <div class="uk-modal-body">
                
                <div uk-filter="target: .js-filter">

                <ul class="uk-subnav uk-subnav-pill">
                    <li class="uk-active" uk-filter-control="[data-color='white']"><a href="#">Event</a></li>
                    <li uk-filter-control="[data-color='black']"><a href="#">Volunteering</a></li>
                </ul>

                <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid>

                    <li data-color="white">
                        <div class="uk-margin-medium uk-form-width-large">
                            <form>
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: info"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Title" [(ngModel)]="event.title" name="title">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                                            <input class="uk-input uk-form-width-medium" type="date" placeholder="Start Day" [(ngModel)]="event.startDate" name="startDate">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
                                            <input class="uk-input uk-form-width-medium" type="date" placeholder="Final Day" [(ngModel)]="event.finalDate" name="finalDate">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: clock"></span>
                                            <input class="uk-input uk-form-width-medium" type="number" placeholder="Start Hour" [(ngModel)]="event.startHour" name="startHour">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: clock"></span>
                                            <input class="uk-input uk-form-width-medium" type="number" placeholder="Final Hour" [(ngModel)]="event.finalHour" name="finalHour">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: location"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Location" [(ngModel)]="event.location" name="location">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Summary" [(ngModel)]="event.summary" name="summary">
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: info"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Decription" [(ngModel)]="event.description" name="description">
                                        </div>
                                    </div>
                                    <div class="uk-margin" uk-margin>
                                        <div uk-form-custom="target: true">
                                            <input type="file">
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Poster" [(ngModel)]="event.photo" name="photo" disabled>
                                        </div>
                                        <button class="uk-button uk-button-default">Upload</button>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="createEvent()">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </li>

                    <li data-color="black">
                        <div class="uk-margin-medium uk-form-width-large">

                            <form validated>
                                <fieldset class="uk-fieldset">
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Position" [(ngModel)]="job.position" name="position" required>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: clock"></span>
                                            <input class="uk-input uk-form-width-medium" type="number" placeholder="Required hours" [(ngModel)]="job.weeklyRequiredHours" name="weeklyRequiredHours" required>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: location"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Location" [(ngModel)]="location" name="job.location" required>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: info"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Decription" [(ngModel)]="description" name="job.description" required>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: list"></span>
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Requests" [(ngModel)]="requests" name="job.requests" required>
                                        </div>
                                    </div>
                                    <div class="uk-margin" uk-margin>
                                        <div uk-form-custom="target: true">
                                            <input type="file">
                                            <input class="uk-input uk-form-width-medium" type="text" placeholder="Poster" [(ngModel)]="photo" name="job.photo" disabled>
                                        </div>
                                        <button class="uk-button uk-button-default">Upload</button>                                        
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline">
                                            <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="createJob()">Submit</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </li>

                </ul>

            </div>

            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            </div>
        </div>
    </div>
    
    


</div>