<div id="userProfile">

  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-inline" data-src="https://78.media.tumblr.com/44c44d28a4c505461f1b9fe1e0a7bbba/tumblr_oc9t2rGI5b1vccz9go1_1280.png" uk-img>
    <span class="uk-position-left uk-position-medium uk-text-lead uk-text-bold" >
        <img class="uk-border-circle uk-position-medium" src="https://scontent.fmex6-1.fna.fbcdn.net/v/t1.0-9/23843343_10155316645486731_4760985230253273152_n.jpg?_nc_cat=0&oh=83154aa9390bf1b65a16ba9e974fc81a&oe=5BD14952" width="150" height="150">
        Lili Cadena
    </span>
    <div>
        <a class="uk-position-bottom-right uk-position-medium" href="#" uk-icon="icon: pencil"></a>
    </div>
  </div>

</div>