<div class="uk-section-small uk-section-default" style="z-index: 980;" uk-sticky="bottom: #offset">
    <div class="uk-container">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card">
                    <h3 class="uk-card-title">Vico valores: Workshop for children</h3>
                    <p>Saturday, August 11th 2018</p>
                    <ul class="uk-nav">     
                        <li>
                            <a class="uk-link-muted" href="#">
                            <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0020/8510/brand.gif?itok=EUd2bI_M" width="40" height="40">
                                    Soñar Despierto
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <h3 class="uk-card-title uk-text-center">Will attend?</h3>
                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <button class="uk-button uk-button-primary uk-button-large uk-width-medium">Yes</button>
                        </div>
                        <div>
                            <button class="uk-button uk-button-primary uk-button-large uk-width-medium">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-muted">
    <div class="uk-container uk-margin-medium">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://scontent-lga3-1.cdninstagram.com/vp/4c2a5703eda1c193e56f0a184b3c6570/5BB30912/t51.2885-15/s320x320/e35/c0.1.1080.1080/21909661_1461406777277437_884109560363614208_n.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                    <div class="uk-card-footer">
                        <a href="#" class="uk-button uk-button-text">Comments</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Saturday, August 11th 2018</h3>
                        
                        <p><span class="uk-margin-small-right" uk-icon="icon: clock; ratio: 1.5"></span> 10:00 to 18:00</p>
                        <p><span class="uk-margin-small-right" uk-icon="icon: location; ratio: 1.5"></span> Location</p>
                        <p>Map</p>
                    </div>
                    <div class="uk-card-media-bottom">
                        <img src="images/light.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>