<app-nav-bar></app-nav-bar>

<div class="uk-section-small uk-section-default" style="z-index: 980;" uk-sticky="bottom: #offset">
    <div class="uk-container">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card">
                    <h3 class="uk-card-title">Community Manager</h3>
                    <ul class="uk-nav">     
                        <li>
                            <a class="uk-link-muted" href="#">
                            <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0020/8510/brand.gif?itok=EUd2bI_M" width="40" height="40">
                                    Soñar Despierto
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card">
                    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                        <div>
                            <button class="uk-button uk-button-primary uk-button-large uk-width-medium">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-section uk-section-muted">
    <div class="uk-container uk-margin-medium">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Description</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <h3 class="uk-card-title">Requests</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">                        
                        <p><span class="uk-margin-small-right" uk-icon="icon: clock; ratio: 1.5"></span> Weekly required hours: 4</p>
                        <p><span class="uk-margin-small-right" uk-icon="icon: location; ratio: 1.5"></span> Location</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
